<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
</head>
<body>
<h1>Enter a URL</h1>
<form action="/shorts" method="POST">
    <label for="url">URL:</label>
    <input type="url" id="url" name="url" required>
    <button type="submit">Submit</button>
</form>
<ul>
    {{range .Errors}}
    <li>{{.}}</li>
    {{end}}
</ul>
</body>
</html>